<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1 style="text-align:center">
    Reporting Builder
  </h1>

  
  <div class="container">
    <div class="row">
      <div class="col-8">
          <amexio-card-pane [enableFooter]="false" >
              <amexio-pane-header>
                Report Table/Fields
              </amexio-pane-header>
              <amexio-pane-body>
                  <form>
                      <div class="form-group">

          <amexio-dropdown [(ngModel)]="tableName"
                        [placeholder]="'---Select---'"
                        name="tableName"
                        [dataReader]="'data'"
                        [fieldLabel]="'Choose Table/View'"
                        [httpUrl]="'http://localhost:9000/v1/tablesnew'"
                        [httpMethod]="'get'"
                        [displayField]="'tableName'"
                        [valueField]="'tableId'"
                        [width]="'250px'"
                        (onSingleSelect)="getSingleVal($event)">
           </amexio-dropdown>
                         <!-- <select>
                          <option *ngFor="let table of tables" value= {{table.tableId}}>
                            {{table.tableName}}
                          </option>
                        </select> -->
                        
                        
                      </div>
                     
                      <div class="form-group">
                        <amexio-checkbox [fieldLabel]="'Field Selections'" 
                         name ="fields"
                         [dataReader]="'data'"
                          [displayField]="'fieldName'"
                          [valueField]="'fieldId'"                                                    
                          [checkBoxGroupBindData]="fieldsCheckbox"
                          [column]="'4'">
                         </amexio-checkbox>                          
                      </div>
                      <!-- <div class="form-group">
                        <amexio-text-input [fieldLabel]="'Phone'" name ="phone"
                                           [placeholder]="'Enter phone'"
                                           [iconFeedBack]="true">
                        </amexio-text-input>
                      </div>
                      <div class="form-group">
                        <amexio-text-input [fieldLabel]="'Email'" name ="email"
                                           [placeholder]="'Enter Email'"
                                           [iconFeedBack]="true">
                        </amexio-text-input>
                      </div> -->
                      <amexio-pane-action [actionCClass]="'action-float-right'">
                          <amexio-btn [label]="'Save'" [type]="'primary'" (onClick)="saveReportConfig()"></amexio-btn>
                      </amexio-pane-action>
                    </form>
              </amexio-pane-body>
          </amexio-card-pane>

      </div>
    </div>
  </div>
  

